<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="Metick"
        android:supportsRtl="true"
        android:theme="@style/Theme.Login">
        <activity
            android:name=".adminhome"
            android:exported="false" />
        <activity
            android:name=".passbook"
            android:exported="false" />
        <activity
            android:name=".admindata"
            android:exported="false" />
        <activity
            android:name=".adminlogin"
            android:exported="false" />
        <activity
            android:name=".onboarding"
            android:exported="true" />
        <activity
            android:name=".showprofile"
            android:exported="false" />
        <activity
            android:name=".qrgenerator"
            android:exported="false" />
        <activity
            android:name=".tittle"
            android:exported="false" />
        <activity
            android:name=".history"
            android:exported="false" />
        <activity
            android:name=".profile"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".addmoney"
            android:exported="false" />
        <activity
            android:name=".map"
            android:exported="true" />
        <activity
            android:name=".introdetails"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wallet"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainpage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Homepage1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".verifyotp"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>